@charset "UTF-8";

:root {
    --cor0: #49a09d;
    --cor1: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    position: absolute;
    top: 50%;
    left: 50%;

    

    transition: width 1s, height 1s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
   background: #5f2c82 url(../imagens/pexels-sean-whang-25006-804269.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
    background-position: center center;
    
}

section#login > div#form {
    padding: 10px;
    display: block;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #194241;
}

form a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    border: 1px solid #49a09d;
    text-decoration: none;
    color: #296d6b;
    margin-top: 5px;
}

form a.botao > span {
    font-size: 1em;
}

form a.botao:hover {
    background-color: #92bebd;
    color: white;
}

form > div.campo {
 background-color: #5f2c82;
 border: 2px solid #5f2c82;
 width: 100%;
 display: block;
 height: 40px;
 border-radius: 8px;
 margin: 5px 0px; 
}

form  label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #92bebd;
    font-size: 1em;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    width: calc(100% - 45px);
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}